h1 {
    font-size: 37px;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.p1 {
    font-size: 14pt;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
}

.p2 {
    font-size: 14pt;
    color: black;
    text-align: end;
    font-family: Arial, Helvetica, sans-serif;
}

.p3 {
    font-size: 14pt;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.p4 {
    font-size: 14pt;
    color: black;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}